<div
    class="container-fluid border-gunmetal p-2"
    [class.remove-top-border]="firstItem">
    <p
        class="h5 overflow-ellipses mb-0"
        [class.italic]="messageView === 'sent'">
        <span *ngIf="messageView === 'sent'">To: </span>
        {{ messageView === 'received' ? message.sender.name_lastFirst : message.recipient.name_lastFirst }}
    </p>
    <div class="ml-2 mt-2">
        <p class="overflow-ellipses mb-0 bold">{{ message.subject }}</p>
        <p class="italic overflow-ellipses mb-0">{{ message.body }}</p>
        <p class="mb-0 mt-2 text-align-right">{{ message.dateString_full }}</p>
    </div>
</div>
