@use 'base';

.remove-recipient-icon {
    color: gray;

    &:hover {
        color: base.$burgundy;
        cursor: pointer;
    }
}

.recipient-input div {
    border: 1px solid base.$gunmetal;
    cursor: pointer;

    a {
        &:hover {
            color: base.$emerald;
        }
    }
}

.subject-input {
    span,
    input {
        border: 1px solid base.$gunmetal;
    }
}

.body-input {
    resize: none;
    height: 433px !important;
    border: 1px solid base.$gunmetal;
}

.height-38 {
    height: 38px;
}
