$gunmetal: #343a40;
$slate: #6e7a87;
$lightestGray: #d4d4d4;
$tangerine: #eb9486;
$tangerine-light: #ffafa2;
$tangerine-lightest: #ffcfc7;
$emerald: #2F7560;
$burgundy: #990D35;

$primary: $tangerine-light;
$success: $emerald;
$danger: $burgundy;

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.green {
    color: $emerald;
}

.red {
    color: $burgundy;
}

.white {
    color: white;
}

.border-gunmetal {
    border: 1px solid rebeccapurple;
}

.border-orange {
    border: 1px solid salmon;
}

.border-gunmetal {
    border: 1px solid $gunmetal;
}

.remove-top-border {
    border-top: none;
}

.overflow-ellipses {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.text-align-right {
    text-align: right;
}

.preserve-new-lines {
    white-space: pre-wrap;
}

.btn-tangerine {
    @include button-variant(
        $tangerine-light,
        $tangerine,
    );
}

.btn-outline-tangerine {
    @include button-outline-variant(
        $tangerine-light
    )
}

.btn-emerald {
    @include button-variant(
        lighten($emerald, 30),
        $emerald
    )
}