$lilac: #c8a2c8;
$gunmetal: #343a40;
$slate: #6e7a87;
$lightestGray: #d4d4d4;
$tangerine: #eb9486;
$babyPink: #f4c1b9;
$palePink: #f7d0ca;
$blue: #007bff;
$lightBlue: #5aaaff;
$lightestBlue: #9acbff;

.green {
    color: green;
}

.red {
    color: red;
}

.white {
    color: white;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.border-gunmetal {
    border: 1px solid rebeccapurple;
}

.border-orange {
    border: 1px solid salmon;
}

.border-gunmetal {
    border: 1px solid $gunmetal;
}

.remove-top-border {
    border-top: none;
}

.overflow-ellipses {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.text-align-right {
    text-align: right;
}

.preserve-new-lines {
    white-space: pre-wrap;
}