@use 'base';

.card {
    border: base.$gunmetal 3px solid;
    margin: 20px
}

.fa-user {
    color: base.$gunmetal;
}

.card-img-top {
    padding-top: 20px
}

.light-blue-background {
    background-color: #5cb3fd;
}