@use 'base';

.card {
    margin: 20px;
}

.card.logged-out {
    border: base.$gunmetal 3px solid;
}

.card.logged-in {
    border: base.$tangerine 3px solid;
    background-color: base.$tangerine-lightest;
}

.fa-user.logged-out {
    color: base.$gunmetal;
}

.fa-user.logged-in {
    color: base.$tangerine;
}

.card-img-top {
    padding-top: 20px
}

.light-blue-background {
    background-color: #5cb3fd;
}