<div
    class="card"
    [ngClass]="currentUserAuthorized ? 'logged-in' : 'logged-out'">
    <i
        class="fas fa-user fa-3x card-img-top"
        [ngClass]="currentUserAuthorized ? 'logged-in' : 'logged-out'"></i>
    <div class="card-body">
        <h5 class="card-title">{{user.name_full}}</h5>

        <!-- Log In Button -->
        <button
            class="btn btn-dark"
            *ngIf="!currentUserAuthorized"
            (click)="openLoginModal()">
            <i class="fas fa-sign-in-alt"></i>
            Log In
        </button>

        <!-- Message Center Button -->
        <button
            class="btn btn-primary"
            *ngIf="currentUserAuthorized"
            (click)="goToMessageCenter()">
            <i class="far fa-envelope"></i>
            Message Center
        </button>
    </div>
</div>
