<div class="modal-header">
    <h4
        class="modal-title"
        id="modal-basic-title">Login</h4>
    <button
        type="button"
        class="close"
        (click)="cancel()">
        ×
    </button>
</div>
<div
    class="modal-body"
    ngbAutofocus>
    <form
    #form="ngForm">
        <div class="form-group">
            <h5>{{ user.fullName }}</h5>
            <div class="input-group">
                <input
                    id="password"
                    class="form-control"
                    placeholder="Password"
                    name="password"
                    type="password"
                    password
                    minlength="6"
                    required
                    ngModel
                    #password="ngModel">
            </div>
            <p *ngIf="passwordIncorrect" class="incorrect-password red">Incorrect Password, Please Try Again.</p>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button
        type="button"
        class="btn btn-dark"
        (click)="attemptLogin(password)"
        [disabled]="!form.valid">
        Submit
    </button>
</div>
