<!-- modal header -->
<div class="modal-header">
    <h4
        class="modal-title"
        id="modal-basic-title">Log In</h4>
    <button
        type="button"
        class="close"
        (click)="cancel()">
        ×
    </button>
</div>

<!-- modal body -->
<div
    class="modal-body pb-0"
    ngbAutofocus>
    <form
        #form="ngForm"
        class="mb-0">
        <div class="form-group mb-0">
            <h5>{{ user.fullName }}</h5>

            <!-- password input -->
            <div class="input-group">
                <input
                    id="password"
                    class="form-control"
                    placeholder="Password"
                    name="password"
                    type="password"
                    (keyup.enter)="attemptLogin(password)"
                    password
                    minlength="6"
                    required
                    ngModel
                    #password="ngModel">
            </div>

            <!-- incorrect password message -->
            <div *ngIf="!showLoginSuccess">
                <p
                    class="italic red pb-0"
                    [hideAndRetainSpace]="!showPasswordIncorrect">Incorrect Password, Please Try Again.</p>
            </div>

            <!-- login success message -->
            <div *ngIf="showLoginSuccess">
                <p
                    class="italic green pb-0"
                    [hideAndRetainSpace]="!showLoginSuccess">User Login Successful!</p>
            </div>

        </div>
    </form>
</div>

<!-- modal footer -->
<div class="modal-footer">
    <button
        type="button"
        class="btn btn-success"
        (click)="attemptLogin(password)"
        [disabled]="!form.valid || attemptingLogin || showLoginSuccess">
        <spinner [showSpinner]="attemptingLogin"></spinner>
        Submit
    </button>
</div>
