@use 'base';

.conatain-with-scrollbar {
    overflow-y: scroll;
    height: 600px;
}

.height-40 {
    height: 40px;
}

.height-600 {
    height: 600px;
}

.nav-link {

    cursor: pointer;
    color: black !important;

    &:hover:not(.active) {
        background-color: base.$lightestGray;
    }

    &:hover.active {
        cursor: default;
    }
}