<div class="container-fluid">
    <div class="row">
        <div class="col-4 border-orange">
            <inbox-item
                *ngFor="let message of userRecievedMessages"
                [message]="message"
                (click)="readMessage(message)">
            </inbox-item>
        </div>
        <div class="col-8 border-purple">
            <div
                class="mt-4"
                *ngIf="currentMessage">
                <p class="h3">{{ currentMessage.subject }}</p>
                <p class="h5">From: {{ currentMessage.sender.name_lastFirst }}</p>
                <p class="preserve-new-lines mt-4">{{ currentMessage.body }}</p>
            </div>
        </div>
    </div>
</div>
